<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by yeqinfu on 17-9-27 上午9:35
  ~ Copyright (c) JXT All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ppandroid.app">
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--读取文件权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:name=".base.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:name=".AC_Main">
        </activity>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:name=".base.AC_ContentFG"/>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:name="com.ppandroid.im.base.AC_Base"/>
        <activity android:name=".AC_Login">
        </activity>
        <activity android:name=".AC_Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".demo.AC_ADemo">
        </activity>
        <activity android:name=".demo.AC_BDemo">
        </activity>

        <service android:name=".utils.upgrade.NotificationService"/>

        <activity
            android:screenOrientation="landscape"
            android:name=".home.mine.energyanalysis.horizontalanalysis.AC_CateHorChart">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".home.mine.energyanalysis.horizontalanalysis.AC_DevicesHorChart">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".home.mine.energyanalysis.horizontalanalysis.AC_AreaHorChart">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".home.mine.energyanalysis.horizontalanalysis.AC_InstrumentHorChart">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".home.mine.energyanalysis.totalhorzizontalanalysis.AC_TotalHorzintalanalysis">
        </activity>
        //bugly升级
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>